<div class="w3-container">

<h3>Users</h3>
<form>
    <input type="text" ng-model="keyword" placeholder="Search">
</form>
    
<form enctype="multipart/form-data" action="/" method="post">
    <input id="image-file" type="file" />
    <input type="submit"></input>
</form>  

<a href="#/create"><button class="w3-btn w3-green w3-ripple" ng-click="editUser('new')">&#9998; Create New User</button></a>
<table class="w3-table w3-bordered w3-striped" tagged-infinite-scroll="getMore()" tagged-infinite-scroll-disabled="fetching || disabled">
  <tr>
    <th>Edit</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Title</th>
    <th>Sex</th>
    <th>Age</th>
    <th>id</th>
    <th>delete</th>
  </tr>
  <tr ng-repeat="user in users | filter:keyword | orderBy:order">
    <td>
        <a href="#/edit"><button class="w3-btn w3-ripple" ng-click="editUser(user._id)">&#9998; Edit</button></a>
    </td>
    <td>{{ user.fName }}</td>
    <td>{{ user.lName }}</td>
    <td>{{ user.Title }}</td>
    <td>{{ user.Sex }}</td>
    <td>{{ user.Age }}</td>
    <td>{{ user.id }}</td>
      <td>
      <button class="w3-btn w3-ripple" ng-click="deleteUser(user._id)">&#9998; Delete</button>
    </td>
  </tr>
</table>
<br>
    
</div>   